
 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #ffffff;
  font-size: 12px;
}
.app {
  background: #ffffff;
}
h1 {
  color: #000000;
  margin: 400px;
  font-size: 10px;

}
.menu1 {
  margin-top: 40px;
  
}
h2 {
  color: #000000;
  font-size: 12px;

}